
.woocommerce-MyAccount-navigation{
    display:none;
}
.woocommerce-MyAccount-content{
 width: 100% !important;
 font-size: 18px;
}
@media screen and (max-width: 768px) {
    .woocommerce-MyAccount-content{
        font-size: 15px;
    }
  }
.woocommerce-Address{
    width:100%;
}
.elementor-widget-wrap{
    margin-top:20px;
}
.woocommerce-shipping-fields{
    display:none;
}
.woocomemerce_pickup_store{
    font-size: 20px;
    display: flex;
    align-items: center;
}
.woocomemerce_pickup_store .woocomemerce_pickup_store-item{
    margin-right:20px;
}
